@page
@model IssuerDrivingLicense.AdminModel
@{
    ViewData["Title"] = "Driver License Administration";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Driver License Administration</h2>

<p>
    <a asp-page="./DriverLicenses/Create"><i class="far fa-plus-square"></i> Create new DriverLicense </a>
</p>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenses[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenses[0].DrivingPrivileges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenses[0].IssueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DriverLicenses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrivingPrivileges)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    <div class="form-group" style="width:140px">
                        <a asp-page="./DriverLicenses/Edit" asp-route-id="@item.Id"><i class="far fa-edit fa-2x"></i></a>
                        <a asp-page="./DriverLicenses/Details" asp-route-id="@item.Id"><i class="far fa-folder-open fa-2x"></i></a>
                       @* <a asp-page="./Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt fa-2x"></i></a>*@
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>